.link {
    color: #FFFFFF;
    text-decoration: none;
}

.link-active {
    color: #FFFFFF;
    background: #1BB6F7;
    padding: 20;
    border-radius: 100px;
    text-decoration: none;
}

.Links {
    color: #FFFFFF;
    text-decoration: none;
}

.Links:hover {
    color: rgb(126, 246, 255)
}

.MenuButtons {
    font-size: 18;
}